.t1ab1,.t2ab1,.t3ab1,.t4ab1,.t5ab1,.t6ab1,.t7ab1,.t8ab1,.t9ab1,
.t1ab2,.t2ab2,.t3ab2,.t4ab2,.t5ab2,.t6ab2,.t7ab2,.t8ab2,.t9ab2,
.t1ab3,.t2ab3,.t3ab3,.t4ab3,.t5ab3,.t6ab3,.t7ab3,.t8ab3,.t9ab3,
.t1ab4,.t2ab4,.t3ab4,.t4ab4,.t5ab4,.t6ab4,.t7ab4,.t8ab4,.t9ab4,
.t1ab5,.t2ab5,.t3ab5,.t4ab5,.t5ab5,.t6ab5,.t7ab5,.t8ab5,.t9ab5,
.t1ab6,.t2ab6,.t3ab6,.t4ab6,.t5ab6,.t6ab6,.t7ab6,.t8ab6,.t9ab6,
.t1ab7,.t2ab7,.t3ab7,.t4ab7,.t5ab7,.t6ab7,.t7ab7,.t8ab7,.t9ab7,
.t1ab8,.t2ab8,.t3ab8,.t4ab8,.t5ab8,.t6ab8,.t7ab8,.t8ab8,.t9ab8,
.t1ab9,.t2ab9,.t3ab9,.t4ab9,.t5ab9,.t6ab9,.t7ab9,.t8ab9,.t9ab9,
.t1ab10,.t2ab10,.t3ab10,.t4ab10,.t5ab10,.t6ab10,.t7ab10,.t8ab10,.t9ab10,
.t1ab11,.t2ab11,.t3ab11,.t4ab11,.t5ab11,.t6ab11,.t7ab11,.t8ab11,.t9ab11,
.t1ab12,.t2ab12,.t3ab12,.t4ab12,.t5ab12,.t6ab12,.t7ab12,.t8ab12,.t9ab12,
.t1ab13,.t2ab13,.t3ab13,.t4ab13,.t5ab13,.t6ab13,.t7ab13,.t8ab13,.t9ab13,
.t1ab14,.t2ab14,.t3ab14,.t4ab14,.t5ab14,.t6ab14,.t7ab14,.t8ab14,.t9ab14,
.t1ab15,.t2ab15,.t3ab15,.t4ab15,.t5ab15,.t6ab15,.t7ab15,.t8ab15,.t9ab15,
.t1ab16,.t2ab16,.t3ab16,.t4ab16,.t5ab16,.t6ab16,.t7ab16,.t8ab16,.t9ab16,
.t1ab17,.t2ab17,.t3ab17,.t4ab17,.t5ab17,.t6ab17,.t7ab17,.t8ab17,.t9ab17,
.t1ab18,.t2ab18,.t3ab18,.t4ab18,.t5ab18,.t6ab18,.t7ab18,.t8ab18,.t9ab18,
.t1ab19,.t2ab19,.t3ab19,.t4ab19,.t5ab19,.t6ab19,.t7ab19,.t8ab19,.t9ab19,
.t1ab20,.t2ab20,.t3ab20,.t4ab20,.t5ab20,.t6ab20,.t7ab20,.t8ab20,.t9ab20,
.t1ab21,.t2ab21,.t3ab21,.t4ab21,.t5ab21,.t6ab21,.t7ab21,.t8ab21,.t9ab21,
.t1ab22,.t2ab22,.t3ab22,.t4ab22,.t5ab22,.t6ab22,.t7ab22,.t8ab22,.t9ab22,
.t1ab23,.t2ab23,.t3ab23,.t4ab23,.t5ab23,.t6ab23,.t7ab23,.t8ab23,.t9ab23,
.t1ab24,.t2ab24,.t3ab24,.t4ab24,.t5ab24,.t6ab24,.t7ab24,.t8ab24,.t9ab24,
.t1ab25,.t2ab25,.t3ab25,.t4ab25,.t5ab25,.t6ab25,.t7ab25,.t8ab25,.t9ab25{
    margin: 5px 5px 10px 5px;
    height:44.8px;
    width: 44.8px;
    background: rgba(255, 254, 254, 0.507);
    display: inline-block;
    border-radius: 10px;
}

@media screen and (max-width: 985px){
    

    .t1ab1,.t2ab1,.t3ab1,.t4ab1,.t5ab1,.t6ab1,.t7ab1,.t8ab1,.t9ab1,
    .t1ab2,.t2ab2,.t3ab2,.t4ab2,.t5ab2,.t6ab2,.t7ab2,.t8ab2,.t9ab2,
    .t1ab3,.t2ab3,.t3ab3,.t4ab3,.t5ab3,.t6ab3,.t7ab3,.t8ab3,.t9ab3,
    .t1ab4,.t2ab4,.t3ab4,.t4ab4,.t5ab4,.t6ab4,.t7ab4,.t8ab4,.t9ab4,
    .t1ab5,.t2ab5,.t3ab5,.t4ab5,.t5ab5,.t6ab5,.t7ab5,.t8ab5,.t9ab5,
    .t1ab6,.t2ab6,.t3ab6,.t4ab6,.t5ab6,.t6ab6,.t7ab6,.t8ab6,.t9ab6,
    .t1ab7,.t2ab7,.t3ab7,.t4ab7,.t5ab7,.t6ab7,.t7ab7,.t8ab7,.t9ab7,
    .t1ab8,.t2ab8,.t3ab8,.t4ab8,.t5ab8,.t6ab8,.t7ab8,.t8ab8,.t9ab8,
    .t1ab9,.t2ab9,.t3ab9,.t4ab9,.t5ab9,.t6ab9,.t7ab9,.t8ab9,.t9ab9,
    .t1ab10,.t2ab10,.t3ab10,.t4ab10,.t5ab10,.t6ab10,.t7ab10,.t8ab10,.t9ab10,
    .t1ab11,.t2ab11,.t3ab11,.t4ab11,.t5ab11,.t6ab11,.t7ab11,.t8ab11,.t9ab11,
    .t1ab12,.t2ab12,.t3ab12,.t4ab12,.t5ab12,.t6ab12,.t7ab12,.t8ab12,.t9ab12,
    .t1ab13,.t2ab13,.t3ab13,.t4ab13,.t5ab13,.t6ab13,.t7ab13,.t8ab13,.t9ab13,
    .t1ab14,.t2ab14,.t3ab14,.t4ab14,.t5ab14,.t6ab14,.t7ab14,.t8ab14,.t9ab14,
    .t1ab15,.t2ab15,.t3ab15,.t4ab15,.t5ab15,.t6ab15,.t7ab15,.t8ab15,.t9ab15,
    .t1ab16,.t2ab16,.t3ab16,.t4ab16,.t5ab16,.t6ab16,.t7ab16,.t8ab16,.t9ab16,
    .t1ab17,.t2ab17,.t3ab17,.t4ab17,.t5ab17,.t6ab17,.t7ab17,.t8ab17,.t9ab17,
    .t1ab18,.t2ab18,.t3ab18,.t4ab18,.t5ab18,.t6ab18,.t7ab18,.t8ab18,.t9ab18,
    .t1ab19,.t2ab19,.t3ab19,.t4ab19,.t5ab19,.t6ab19,.t7ab19,.t8ab19,.t9ab19,
    .t1ab20,.t2ab20,.t3ab20,.t4ab20,.t5ab20,.t6ab20,.t7ab20,.t8ab20,.t9ab20,
    .t1ab21,.t2ab21,.t3ab21,.t4ab21,.t5ab21,.t6ab21,.t7ab21,.t8ab21,.t9ab21,
    .t1ab22,.t2ab22,.t3ab22,.t4ab22,.t5ab22,.t6ab22,.t7ab22,.t8ab22,.t9ab22,
    .t1ab23,.t2ab23,.t3ab23,.t4ab23,.t5ab23,.t6ab23,.t7ab23,.t8ab23,.t9ab23,
    .t1ab24,.t2ab24,.t3ab24,.t4ab24,.t5ab24,.t6ab24,.t7ab24,.t8ab24,.t9ab24,
    .t1ab25,.t2ab25,.t3ab25,.t4ab25,.t5ab25,.t6ab25,.t7ab25,.t8ab25,.t9ab25
    {
        height:26px;
        width: 26px;
        margin: 5px 5px 7px 3.5px;;
        border-radius: 5px;
    }

}